<form [formGroup]="pessoa">
    <input type="text" formControlName="nome" placeholder="nome" class="form-control">
    <input type="number" formControlName="idade" placeholder="idade" class="form-control">
    <input type="text" formControlName="cidade" placeholder="cidade" class="form-control">

    @if (btnCadastrar) {
        <input type="button" (click)="cadastrar()" [disabled]="pessoa.invalid" value="Cadastrar" class="btn btn-primary">
    }@else {
        <input type="button" (click)="alterar()" value="Alterar" class="btn btn-primary">
        <input type="button" (click)="remover()" value="Remover" class="btn btn-primary">
        <input type="button" (click)="cancelar()" value="Cancelar" class="btn btn-primary">
    }
</form>

<table class="table">
    <thead> <!--cabeçalho -->
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Cidade</th>
            <th>Selecionar</th>
        </tr>
    </thead>

    <tbody>
        @for (v of vetor; track $index) {
          <tr>
            <td>{{ v.nome }}</td>
            <td>{{ v.idade }}</td>
            <td>{{ v.cidade }}</td>
            <td><button class="btn btn-primary" (click)="selecionar($index)">Selecionar</button></td>
          </tr>
        }
    </tbody>
</table>
